header {
    display: flex;
}


/* Title */

header > .title {
    flex: 50%;
    
    height: var(--header-height);
    
    margin: 0;
    padding: var(--border-gap);
}

header > .title > a {
    font-size: 35px;
    font-weight: bold;
}

header > .title > a:link,
header > .title > a:visited {
    color: var(--text-color);
    text-decoration: none;
}


/* Drop database button */

header > .drop-database-button {
    flex: 10%;
    
    margin: auto;
    
    font-size: 11px;
    text-align: center;
}

header > .drop-database-button:link,
header > .drop-database-button:visited {
    color: darkred;
    text-decoration: none;
}

header > .drop-database-button:hover,
header > .drop-database-button:active {
    color: red;
    text-decoration: underline;
}


/* Navigation */

header > .navigation {
    flex: 40%;
    
    display: flex;
    
    padding: var(--border-gap);
    
    align-items: center;
    justify-content: space-between;
}

header > .navigation > a {
    display: block;
    
    text-decoration: none;
}

header > .navigation > a:hover {
    text-decoration: underline;
}

header > .navigation > a:active {
    text-decoration: none;
}

header > .navigation > a:link,
header > .navigation > a:visited {
    color: var(--text-color);
}
