main {
    display: flex;
    
    height: calc(100vh - 2*var(--border-gap) - var(--header-height));
}


/* List */

main > .list {
    flex: 0 calc(60% - 2*var(--border-gap));
    
    padding: var(--border-gap);
    
    overflow-y: auto;
}

main > .list::-webkit-scrollbar {
    display: none;
}

main > .list > article + article {
    margin-top: var(--border-gap);
}

main > .list > article {
    display: flex;
    
    flex-wrap: wrap;
    
    padding: var(--border-gap);
}

main > .list > article > div {
    flex: 1;
}

/* Airline */

main > .list > .airline > div:not(.airline-code) {
    text-align: right;
}

main > .list > .airline > .name {
    margin-bottom: var(--text-gap);
}

main > .list > .airline > .site {
    flex: 0 100%;
}

/* Plane */

main > .list > .plane > .name,
main > .list > .plane > .seats-count {
    margin-bottom: var(--text-gap);
}

main > .list > .plane > .name {
    flex: 0 70%;
}

main > .list > .plane > .seats-count {
    flex: 0 30%;
}

/* Airport */

main > .list > .airport > .airport-code {
    flex: 0 30%;
}

main > .list > .airport > .name {
    flex: 0 70%;
    
    margin-bottom: var(--text-gap);
}

main > .list > .airport > .city,
main > .list > .airport > .country,
main > .list > .airport > .longitude,
main > .list > .airport > .latitude {
    flex: 0 50%;
    
    margin-bottom: var(--text-gap);
}

main > .list > .airport > .timezone {
    flex: 0 100%;
    
    text-align: right;
}

/* Flight */

main > .list > .flight > div {
    flex: 0 50%;
}

main > .list > .flight > .flight-code {
    flex: 0 100%;
}

main > .list > .flight > div:nth-child(2n):not(.price),
main > .list > .flight > .flight-code,
main > .list > .flight > .seat-title {
    margin-bottom: var(--text-gap);
}

main > .list > .flight > .departure-title,
main > .list > .flight > .arrival-title,
main > .list > .flight > .time,
main > .list > .flight > .miles,
main > .list > .flight > .seat-title {
    margin-top: var(--text-gap);
}

main > .list > .flight > .seat-title {
    flex: 0 100%;
}

main > .list > .flight > .price {
    flex: 0 100%;
    
    text-align: right;
}
