{% extends "base.html" %}


{% block forms %}
    <form id="airline-add" class="box" action="{{ url_for('airline.add_airline') }}" method="post">
        <input placeholder="код авиакомпании" name="airline-code" type="text" required>
        <input placeholder="название" name="name" type="text" required>
        <input placeholder="сайт" name="site" type="url" required>
        
        <input value="добавить авиакомпанию" type="submit">
    </form>
    
    <form id="airline-search" class="box" action="{{ url_for('airline.search_airline') }}" method="post">
        <input placeholder="введите код или название авиакомпании..." name="query" type="search" required>
        
        <select name="sorting">
            <option selected value="no-sort">не сортировать</option>
            
            <optgroup label="сортировать по названию">
                <option value="name-ascending">по возрастанию</option>
                <option value="name-descending">по убыванию</option>
            </optgroup>
        </select>
        
        <input value="найти авиакомпанию" type="submit">
    </form>
    
    <form id="plane-add" class="box" action="{{ url_for('airline.add_plane') }}" method="post">
        <input placeholder="название" name="name" type="text" required>
        <input placeholder="код самолёта" name="plane-code" type="text" required>
        <input placeholder="код авиакомпании" name="airline-code" type="text" required>
        <input placeholder="код рейса" name="flight-code" type="text" required>
        <input placeholder="количество мест" name="seats-count" type="number" required>
        
        <input value="добавить самолёт" type="submit">
    </form>
    
    <form id="plane-search" class="box" action="{{ url_for('airline.search_plane') }}" method="post">
        <input placeholder="введите код или название самолёта..." name="query" type="search" required>
        
        <select name="sorting">
            <option selected value="no-sort">не сортировать</option>
            
            <optgroup label="сортировать по названию">
                <option value="name-ascending">по возрастанию</option>
                <option value="name-descending">по убыванию</option>
            </optgroup>
            <optgroup label="сортировать по количеству мест">
                <option value="seats-count-ascending">по возрастанию</option>
                <option value="seats-count-descending">по убыванию</option>
            </optgroup>
        </select>
        
        <input value="найти самолёт" type="submit">
    </form>
    
    <form id="plane-search-by-airline-code" class="box" action="{{ url_for('airline.search_plane_by_airline_code') }}" method="post">
        <input placeholder="введите код авиакомпании..." name="query" type="search" required>
        
        <select name="sorting">
            <option selected value="no-sort">не сортировать</option>
            
            <optgroup label="сортировать по названию">
                <option value="name-ascending">по возрастанию</option>
                <option value="name-descending">по убыванию</option>
            </optgroup>
            <optgroup label="сортировать по количеству мест">
                <option value="seats-count-ascending">по возрастанию</option>
                <option value="seats-count-descending">по убыванию</option>
            </optgroup>
        </select>
        
        <input value="найти самолёт по коду авиакомпании" type="submit">
    </form>
    
    <form id="plane-search-by-flight-code" class="box" action="{{ url_for('airline.search_plane_by_flight_code') }}" method="post">
        <input placeholder="введите код рейса..." name="query" type="search" required>
        
        <select name="sorting">
            <option selected value="no-sort">не сортировать</option>
            
            <optgroup label="сортировать по названию">
                <option value="name-ascending">по возрастанию</option>
                <option value="name-descending">по убыванию</option>
            </optgroup>
            <optgroup label="сортировать по количеству мест">
                <option value="seats-count-ascending">по возрастанию</option>
                <option value="seats-count-descending">по убыванию</option>
            </optgroup>
        </select>
        
        <input value="найти самолёт по коду рейса" type="submit">
    </form>
{% endblock %}

{% block list %}
    {% for airline in airlines %}
        <article class="box airline">
            <div class="header">
                <div class="title">Авиакомпания</div>
                <a class="delete-button" onclick="return confirm('Удалить авиакомпанию % название %?')" href="{{ url_for('airline.delete_airline') }}">x</a>
            </div>
            
            <div class="airline-code">% IATA %</div>
            <div class="name">% название %</div>
            <div class="site">% сайт %</div>
        </article>
    {% endfor %}
    
    {% for plane in planes %}
        <article class="box plane">
            <div class="header">
                <div class="title">Самолёт</div>
                <a class="delete-button" onclick="return confirm('Удалить самолёт % название %?')" href="{{ url_for('airline.delete_plane') }}">x</a>
            </div>
            
            <div class="name">% название %</div>
            <div class="seats-count">количество мест: {{ plane }}</div>
            <div class="plane-code">% код %</div>
            <div class="airline-code">% код авиакомпании %</div>
            <div class="flight-code">% код рейса %</div>
        </article>
    {% endfor %}
    
    {% if not airlines and not planes %}
        <span class="placeholder">% пусто %</span>
    {% endif %}
{% endblock %}
