{% extends "base.html" %}


{% block forms %}
    <form id="airline-add" class="box" action="{{ url_for('response_to_form_on_airline_page') }}" method="post">
        <input placeholder="код авиакомпании" name="airline-code" type="text" required>
        <input placeholder="название" name="name" type="text" required>
        <input placeholder="сайт" name="site" type="url" required>
        
        <input value="добавить авиакомпанию" type="submit">
    </form>
    
    <form id="plane-add" class="box" action="{{ url_for('response_to_form_on_airline_page') }}" method="post">
        <input placeholder="название" name="name" type="text" required>
        <input placeholder="код самолёта" name="plane-code" type="text" required>
        <input placeholder="код авиакомпании" name="airline-code" type="text" required>
        <input placeholder="код рейса" name="flight-code" type="text" required>
        <input placeholder="количество мест" name="seats-count" type="number" required>
        
        <input value="добавить самолёт" type="submit">
    </form>
{% endblock %}

{% block list %}
    {% for airline in airlines %}
        <article class="box airline">
            <div class="header">
                <div class="title">Авиакомпания</div>
                <a class="delete-button" onclick="return confirm('Удалить авиакомпанию % название %?')" href="{{ url_for('response_to_form_on_airline_page') }}">x</a>
            </div>
            
            <div class="airline-code">% IATA %</div>
            <div class="name">% название %</div>
            <div class="site">% сайт %</div>
        </article>
    {% endfor %}
    
    {% for plane in planes %}
        <article class="box plane">
            <div class="header">
                <div class="title">Самолёт</div>
                <a class="delete-button" onclick="return confirm('Удалить самолёт % название %?')" href="{{ url_for('response_to_form_on_airline_page') }}">x</a>
            </div>
            
            <div class="name">% название %</div>
            <div class="seats-count">количество мест: {{ plane }}</div>
            <div class="plane-code">% код %</div>
            <div class="airline-code">% код авиакомпании %</div>
            <div class="flight-code">% код рейса %</div>
        </article>
    {% endfor %}
    
    {% if not airlines and not planes %}
        <span class="placeholder">% пусто %</span>
    {% endif %}
{% endblock %}
