{% extends "base.html" %}


{% block forms %}
    <form id="airport-add" class="box" action="{{ url_for('airport.add_airport') }}" method="post">
        <input placeholder="код аэропорта" name="airport-code" type="text" required>
        <input placeholder="название" name="name" type="text" required>
        <input placeholder="город" name="city" type="text" required>
        <input placeholder="страна" name="country" type="text" required>
        <input placeholder="долгота" name="longitude" type="number" step="0.001" required>
        <input placeholder="широта" name="latitude" type="number" step="0.001" required>
        <input placeholder="часовой пояс" name="timezone" type="text" required>
        
        <input value="добавить аэропорт" type="submit">
    </form>
    
    <form id="airport-search" class="box" action="{{ url_for('airport.search_airport') }}" method="post">
        <input placeholder="введите код, название, город или страну аэропорта..." name="search_query" type="search" required>
        
        <select name="sorting">
            <option selected value="no-sort">не сортировать</option>
            
            <optgroup label="сортировать по коду аэропорта">
                <option value="airport-code-ascending">по возрастанию</option>
                <option value="airport-code-descending">по убыванию</option>
            </optgroup>
            <optgroup label="сортировать по названию">
                <option value="name-ascending">по возрастанию</option>
                <option value="name-descending">по убыванию</option>
            </optgroup>
            <optgroup label="сортировать по городу">
                <option value="city-ascending">по возрастанию</option>
                <option value="city-descending">по убыванию</option>
            </optgroup>
            <optgroup label="сортировать по стране">
                <option value="country-ascending">по возрастанию</option>
                <option value="country-descending">по убыванию</option>
            </optgroup>
        </select>
        
        <input value="найти аэропорт" type="submit">
    </form>
    
    <form id="flight-add" class="box" action="{{ url_for('airport.add_flight') }}" method="post">
        <input placeholder="код рейса" name="flight-code" type="text" required>
        <input placeholder="код аэропорта отбытия" name="departure-airport" type="text" required>
        <input placeholder="код аэропорта прибытия" name="arrival-airport" type="text" required>
        <input placeholder="дата отбытия" name="departure-date" type="text" required>
        <input placeholder="дата прибытия" name="arrival-date" type="text" required>
        <input placeholder="время отбытия" name="departure-time" type="text" required>
        <input placeholder="время прибытия" name="arrival-time" type="text" required>
        <input placeholder="время в пути" name="time" type="text" required>
        <input placeholder="мили" name="miles" type="number" required>
        <input placeholder="класс" name="class" type="text" required>
        <input placeholder="номер места" name="seat-number" type="number" required>
        <input placeholder="цена" name="price" type="number" step="0.01" required>
        
        <input value="добавить рейс" type="submit">
    </form>
    
    <form id="flight-search" class="box" action="{{ url_for('airport.search_flight') }}" method="post">
        <input placeholder="введите код или дату рейса..." name="search_query" type="search" required>
        
        <select name="sorting">
            <option selected value="no-sort">не сортировать</option>
            
            <optgroup label="сортировать по дате отбытия">
                <option value="departure-date-ascending">по возрастанию</option>
                <option value="departure-date-descending">по убыванию</option>
            </optgroup>
            <optgroup label="сортировать по дате прибытия">
                <option value="arrival-date-ascending">по возрастанию</option>
                <option value="arrival-date-descending">по убыванию</option>
            </optgroup>
            <optgroup label="сортировать по классу">
                <option value="seat-class-ascending">по возрастанию</option>
                <option value="seat-class-descending">по убыванию</option>
            </optgroup>
            <optgroup label="сортировать по цене">
                <option value="price-ascending">по возрастанию</option>
                <option value="price-descending">по убыванию</option>
            </optgroup>
        </select>
        
        <input value="найти рейс" type="submit">
    </form>
    
    <form id="flight-edit" class="box" action="{{ url_for('airport.edit_flight') }}" method="post">
        <input placeholder="код рейса" name="flight-code" type="text" required>
        <input placeholder="цена" name="price" type="number" step="0.01" required>
        
        <input value="изменить цену рейса" type="submit">
    </form>
{% endblock %}

{% block list %}
    {% for airport in airports %}
        <article class="box airport">
            <div class="header">
                <div class="title">Аэропорт</div>
                <a class="delete-button" onclick="return confirm('Удалить аэропорт {{ airport[1] }}?')" href="{{ url_for('airport.delete_airport', airport_code=airport[0]) }}">x</a>
            </div>
            
            <div class="airport-code">{{ airport[0] }}</div>
            <div class="name">{{ airport[1] }}</div>
            <div class="city">город: {{ airport[2] }}</div>
            <div class="country">страна: {{ airport[3] }}</div>
            <div class="longitude">долгота: {{ airport[4] }}</div>
            <div class="latitude">широта: {{ airport[5] }}</div>
            <div class="timezone">{{ airport[6] }}</div>
        </article>
    {% endfor %}
    
    {% for flight in flights %}
        <article class="box flight">
            <div class="header">
                <div class="title">Рейс</div>
                <a class="delete-button" onclick="return confirm('Удалить рейс {{ flight[0] }}?')" href="{{ url_for('airport.delete_flight', flight_code=flight[0]) }}">x</a>
            </div>
            
            <div class="flight-code">{{ flight[0] }}</div>
            
            <div class="departure-title">отбытие</div>
            <div class="arrival-title">прибытие</div>
            
            <div class="departure-airport-code">{{ flight[1] }}</div>
            <div class="arrival-airport-code">{{ flight[2] }}</div>
            <div class="departure-date">{{ flight[3] }}</div>
            <div class="arrival-date">{{ flight[4] }}</div>
            <div class="departure-time">{{ flight[5] }}</div>
            <div class="arrival-time">{{ flight[6] }}</div>
            
            <div class="time">время в пути: {{ flight[7] }}</div>
            <div class="miles">мили: {{ flight[8] }}</div>
            
            <div class="seat-title">место</div>
            
            <div class="seat-class">{{ flight[9] }}</div>
            <div class="seat-number">{{ flight[10] }}</div>
            
            <div class="price">{{ flight[11] }} рублей</div>
        </article>
    {% endfor %}
    
    {% if not airports and not flights %}
        <span class="placeholder">% пусто %</span>
    {% endif %}
{% endblock %}
