<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        
        <title>Рейсы — Самолёты</title>
    </head>
    <body>
        <header class="box">
            <div class="title">
                <a href="{{ url_for('show_base_page') }}">Рейсы — Самолёты</a>
            </div>
            
            <a class="drop-database-button" onclick="return confirm('Сбросить базу данных?')" href="{{ url_for('drop_database') }}">сбросить</br>базу данных</a>
            
            <nav class="navigation">
                <a href="{{ url_for('airline.show_page') }}">сотрудник авиакомпании</a>
                <a href="{{ url_for('airport.show_page') }}">сотрудник аэропорта</a>
                <a href="{{ url_for('client.show_page') }}">покупатель</a>
            </nav>
        </header>
        
        <main>
            <section class="forms">
                {% block forms %}
                    <span class="placeholder">% пусто %</span>
                {% endblock %}
            </section>
            
            <section class="list">
                {% block list %}
                    <span class="placeholder">% пусто %</span>
                {% endblock %}
            </section>
        </main>
    </body>
</html>
