{% extends "base.html" %}


{% block forms %}
    <form id="client-add" class="box" action="{{ url_for('response_to_form_on_client_page') }}" method="post">
        <input placeholder="номер и серия паспорта" name="personal-id" type="number" required>
        <input placeholder="имя" name="name" type="text" required>
        <input placeholder="дата рождения" name="birth-date" type="text" required>
        <input placeholder="телефон" name="phone" type="text" required>
        <input placeholder="электронная почта" name="email" type="text" required>
        
        <input value="добавить покупателя" type="submit">
    </form>
    
    <form id="ticket-add" class="box" action="{{ url_for('response_to_form_on_client_page') }}" method="post">
        <input placeholder="код билета" name="ticket-code" type="text" required>
        <input placeholder="номер и серия паспорта" name="personal-id" type="number" required>
        <input placeholder="код рейса" name="flight-code" type="text" required>
        <select name="status">
            <option value="available" selected>доступен</option>
            <option value="delayed">задержан</option>
            <option value="on-its-way">в пути</option>
            <option value="done">окончен</option>
            <option value="cancelled">отменён</option>
        </select>
        
        <input value="добавить билет" type="submit">
    </form>
{% endblock %}

{% block list %}
    {% for client in clients %}
        <article class="box client">
            <div class="personal-id">% номер и серия паспорта %</div>
            <div class="birth-date">% дата рождения %</div>
            <div class="name">% имя %</div>
            <div class="phone">% телефон %</div>
            <div class="email">% электронная почта %</div>
        </article>
    {% endfor %}
    
    {% for ticket in tickets %}
        <article class="box ticket">
            <div class="ticket-code">% код %</div>
            <div class="flight-code">% код рейса %</div>
            <div class="personal-id">% номер и серия паспорта %</div>
            <div class="status">% статус %</div>
        </article>
    {% endfor %}
    
    {% if not clients and not tickets %}
        <span class="placeholder">% пусто %</span>
    {% endif %}
{% endblock %}
