{% extends "base.html" %}


{% block forms %}
    <form id="client-add" class="box" action="{{ url_for('client.add_client') }}" method="post">
        <input placeholder="номер и серия паспорта" name="personal-id" type="text" required>
        <input placeholder="имя" name="name" type="text" required>
        <input placeholder="дата рождения" name="birth-date" type="text" required>
        <input placeholder="телефон" name="phone" type="text" required>
        <input placeholder="электронная почта" name="email" type="text" required>
        
        <input value="добавить покупателя" type="submit">
    </form>
    
    <form id="client-search" class="box" action="{{ url_for('client.search_client') }}" method="post">
        <input placeholder="введите паспорт или имя покупателя..." name="search_query" type="search" required>
        
        <select name="sorting">
            <option selected value="no-sort">не сортировать</option>
            
            <optgroup label="сортировать по имени">
                <option value="name-ascending">по возрастанию</option>
                <option value="name-descending">по убыванию</option>
            </optgroup>
        </select>
        
        <input value="найти покупателя" type="submit">
    </form>
    
    <form id="client-ticket-search" class="box" action="{{ url_for('client.search_client_ticket') }}" method="post">
        <input placeholder="введите паспорт или имя покупателя..." name="search_query" type="search" required>
        
        <input value="найти покупателя и его авиабилеты" type="submit">
    </form>
    
    <form id="ticket-add" class="box" action="{{ url_for('client.add_ticket') }}" method="post">
        <input placeholder="код билета" name="ticket-code" type="text" required>
        <input placeholder="номер и серия паспорта" name="personal-id" type="text" required>
        <input placeholder="код рейса" name="flight-code" type="text" required>
        <select name="status">
            <option value="куплен" selected>куплен</option>
            <option value="задержан">задержан</option>
            <option value="в пути">в пути</option>
            <option value="окончен">окончен</option>
            <option value="отменён">отменён</option>
        </select>
        
        <input value="добавить авиабилет" type="submit">
    </form>
    
    <form id="ticket-search" class="box" action="{{ url_for('client.search_ticket') }}" method="post">
        <input placeholder="введите код авиабилета..." name="search_query" type="search" required>
        
        <select name="sorting">
            <option selected value="no-sort">не сортировать</option>
            
            <optgroup label="сортировать по коду билета">
                <option value="ticket-code-ascending">по возрастанию</option>
                <option value="ticket-code-descending">по убыванию</option>
            </optgroup>
            <optgroup label="сортировать по коду рейса">
                <option value="flight-code-ascending">по возрастанию</option>
                <option value="flight-code-descending">по убыванию</option>
            </optgroup>
        </select>
        
        <input value="найти авиабилет" type="submit">
    </form>
    
    <form id="ticket-edit" class="box" action="{{ url_for('client.edit_ticket') }}" method="post">
        <input placeholder="код билета" name="ticket-code" type="text" required>
        <select name="status">
            <option value="куплен" selected>куплен</option>
            <option value="задержан">задержан</option>
            <option value="в пути">в пути</option>
            <option value="окончен">окончен</option>
            <option value="отменён">отменён</option>
        </select>
        
        <input value="изменить статус авиабилета" type="submit">
    </form>
{% endblock %}

{% block list %}
    {% for client in clients %}
        <article class="box client">
            <div class="header">
                <div class="title">Покупатель</div>
                <a class="delete-button" onclick="return confirm('Удалить покупателя {{ client[1] }}?')" href="{{ url_for('client.delete_client', personal_id=client[0]) }}">x</a>
            </div>
            
            <div class="personal-id">{{ client[0] }}</div>
            <div class="birth-date">{{ client[2] }}</div>
            <div class="name">{{ client[1] }}</div>
            <div class="phone">{{ client[3] }}</div>
            <div class="email">{{ client[4] }}</div>
        </article>
    {% endfor %}
    
    {% for ticket in tickets %}
        <article class="box ticket">
            <div class="header">
                <div class="title">Авиабилет</div>
                <a class="delete-button" onclick="return confirm('Удалить авиабилет {{ ticket[0] }}?')" href="{{ url_for('client.delete_ticket', ticket_code=ticket[0]) }}">x</a>
            </div>
            
            <div class="ticket-code">{{ ticket[0] }}</div>
            <div class="flight-code">{{ ticket[2] }}</div>
            <div class="personal-id">{{ ticket[1] }}</div>
            <div class="status">{{ ticket[3] }}</div>
        </article>
    {% endfor %}
    
    {% if not clients and not tickets %}
        <span class="placeholder">% пусто %</span>
    {% endif %}
{% endblock %}
